.status {
    border-radius: .6em;
}

.status legend {
    padding: 0 .2rem;
    background-color: inherit;
    border-right: inherit;
    border-bottom: inherit;
    border-radius: inherit;
}

.status p {
    text-align: center;
}

.info {
    background-color: aliceblue;
    border: 1px solid gainsboro;
}

.success {
    background-color: lightgreen;
    border: 1px solid green;
}

.error {
    background-color: lightpink;
    border: 1px solid darkred;
}

.warning {
    background-color: lightyellow;
    border: 1px solid gold;
}