@for (i of orderService.tables; track i) {

<button (click)="setTable(i)">Tisch # {{ i }}</button>
} @if (currentTable !== 0) {
<div class="table">
  <span>Bestellt am </span>
  <span>{{ getOrderDate() | date : "d. MMMM y 'um' H:mm 'Uhr'" }}</span>
  <ul>
    @for (title of getTitles(); track $index) {
    <li>
      {{ title }}
    </li>
    }
  </ul>
  <p>Zu zahlen: {{ getPrice() | currency : "EUR" : "symbol" : "1.2" }}</p>
  <button (click)="payBill()">Bezahlen</button>

  <p>Bewerten Sie Ihr Menü</p>
  <app-rating
    [rating]="3"
    (ratingChanged)="updateStatus($event, 'Rating')"
  ></app-rating>
</div>

} @else {
<p>Kein Tisch ausgewählt</p>
}
